<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../../../../../core/assets/vendor/normalize-css/normalize.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/ajax-progress.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/align.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/autocomplete-loading.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/fieldgroup.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/container-inline.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/clearfix.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/details.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/hidden.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/item-list.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/js.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/nowrap.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/position-container.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/progress.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/reset-appearance.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/resize.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/sticky-header.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/tabledrag.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/tablesort.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/system/components/tree-child.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/contextual/contextual.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/assets/vendor/jquery.ui/themes/base/core.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/assets/vendor/jquery.ui/themes/base/button.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/assets/vendor/jquery.ui/themes/base/resizable.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/assets/vendor/jquery.ui/themes/base/dialog.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/quickedit/quickedit.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/views/views.module.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/stable/css/toolbar/toolbar.module.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/progress.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/dialog.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/action-links.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/breadcrumb.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/button.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/collapse-processed.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/container-inline.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/details.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/exposed-filters.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/field.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/form.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/icons.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/inline-form.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/item-list.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/link.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/links.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/menu.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/more-link.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/pager.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/tabledrag.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/tableselect.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/tablesort.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/tabs.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/textarea.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/ui-dialog.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../../core/themes/classy/css/components/messages.css?{{ cacheBuster }}" media="all" />

    <!-- <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" /> -->
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../dist/css/style.css?{{ cacheBuster }}" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">
